@import 'bootstrap/scss/functions';

@import 'bootstrap/scss/variables';

// elevation
$z-index: $zindex-fixed !default;

// width
$row-height: 4rem !default;

// paddings
$row-padding: 0.5rem !default;
