@use './variables';

.app-bar {
  background-color: $primary;
  color: color-contrast($primary);

  width: 100%;
  position: fixed;
  box-sizing: border-box;
  z-index: variables.$z-index;
  transform: translateY(0);
  transition: transform 200ms linear, box-shadow 200ms linear;

  &-hide {
    transform: translateY(-100%);
  }

  &-scrolled {
    box-shadow: $box-shadow-lg;
  }

  &-fixed-adjust {
    padding: (variables.$row-height + variables.$row-padding) 
      variables.$row-padding 
      variables.$row-padding 
      variables.$row-padding;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: variables.$row-height;        
  }  

  &-section {
    display: inline-flex;
    align-items: center;

    &-align-start {
      justify-content: flex-start;
      order: -1;
    }

    &-align-end {
      justify-content: flex-end;
      order: 1;
    }

    &-fill {
      justify-content: center;
      flex: 1 1 auto;          
    }
  }

  &-title {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-icon {
    width: 2rem;
    height: 2rem;
    fill: color-contrast($primary);
    margin: 0 1rem;
  }
}
