<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habarlau - Application to make a business</title>
  <link rel='icon' type='image/png' href='/favicon.png'>
  <link rel="stylesheet" href="/dist/{{ data.version }}/css/main.css">  
</head>
<body>
  <div class="splash">
    <div class="loader" data-page="loader-page">
      <div class="loader__container">
        <img src="/favicon.png">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <script>
    const splashElem = document.querySelector('.splash');

    splashElem?.classList.add('splash--open');
  </script>
  {{> (lookup data 'content') data=data.contentData }}
  <script src="/dist/{{ data.version }}/js/main.js" type="module"></script>
</body>
</html>
