<div data-page="home-page">    
  <div>
    <button class="btn btn-primary">Home page</button>
    <a class="btn btn-outline-secondary" href="{{ data.PAGE_ROOT }}sign-in">
      Sign In page
    </a> 
    <a class="btn btn-outline-dark" href="{{ data.PAGE_ROOT }}sign-up">
      Sign Up page
    </a> 
    <br><br>
    <form method="post" class="test-form">
      <button type="reset">
        <label for="input-focus" style="cursor: pointer;">
          <svg class="search-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
          </svg>
        </label>
      </button>  
      <input type="text" id="input-focus">          
    </form>
  </div>
  <br>
  <div>
    Home page, time: {{ data.time }}
  </div>
  <br>
  <button class="btn btn-primary btn-exited" data-button="scroll-top">
    <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
    </svg>
  </button>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
  </div>
</div>
